## Visual Studio & .NET Core
bin/
obj/
out/
.vscode/
.vs/
*.user
*.userosscache
*.sln.docstates

## Database & Secrets
appsettings.Development.json
*.db
*.db-journal

## Node.js (Tailwind)
node_modules/
npm-debug.log*

## OS files
.DS_Store
Thumbs.db
